<%provide(:title,"About")%>
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>
    <p> Restaurant La Consegna  was founded by Mr. Giuseppe Luicini in Torino. Giuseppe  was running the restaurant in Torino for 15 years, when he moved to Ireland and established An authentic Italian restaurant in Dublin. La Consegna restaurant is now Ireland`s leading friendly Italian restaurants. From pizza to pasta and desserts, we offer home-made dishes. Our pizza chef is a world champion, our head chef is young Italian pro. Our team are ready to welcome you. We offer 100 % fast and reliable delivery. Choose from our menu and we will deliver to your home. </p> 
    <b>Opening Hours</b>
    
    <div class="w3-row">
      <div class="w3-col s6">
        <p>Sunday & Monday CLOSED</p>
        <p>Tuesday & Wednesday 5pm - 10pm</p>
        <p>Thursday 5pm - 11pm</p>
      </div>
      <div class="w3-col s6">
        <p>Friday 5pm - 12pm</p>
        <p>Saturday 3pm - 12.30pm</p>
      </div>
    </div>
    
  </div>
</div> 